@import "colors";
@import "fonts";
@import "mixins";

/*-----------------------Estilos Generales--------------------------------*/
*,
:after,
:before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  background-color: color(background-color);
  font-family: $primary-font;
  color: color(text-color);
  font-weight: 400;
  font-size: $main-text;
}

h1,
h2,
h3,
h4 {
  font-family: $title-font;
  color: color(title-color);
  font-weight: 700;
  text-align: center;
  margin: 0 0 20px 0;
  padding-top: 20px;
}

.section h2 {
  margin-bottom: 10px;
  padding-bottom: 10px;
  border-bottom: 3px solid color(text-color);
}

h1 {
  font-size: $heading-1;
}

h2 {
  font-size: $heading-2;
}

h3 {
  font-size: $heading-3;
}

h4 {
  font-size: $heading-4;
}

p {
  margin: 20px 20px;
}

.caption {
  font-weight: 200;
  color: color(emphasis-color);
}

p.caption {
  text-align: center;
}

img {
  display: block;
  max-width: 500px;
}

main img {
  display: block;
  margin: 10px auto;
}

iframe {
  display: block;
  margin: 0 auto;
  max-width: 90%;
}

/*-----------------------Fin de los estilos Generales--------------------------------*/

/*----------------------------Estilos del Header------------------------------------*/
a {
  text-decoration: none;
}

div {
  display: block;
}

.header {
  display: grid;
  padding: 10px;
}

.menu__link,
.menu__link--active {
  display: block;
  padding: 0.5rem 2rem;
  color: color(emphasis-color);
  font-weight: 700;
  text-transform: uppercase;
  width: 100%;
  letter-spacing: .2em;
}

.menu__link:hover {
  font-size: 1.5rem;
  color: color(emphasis-color);
}

.menu__link.active {
  text-decoration: underline;
}

.header__logo {
  width: 200px;
}

.nav {
  display: flex;
  justify-content: flex-start;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1500;
  background: color(sub-background-color);
  transition: transform .5s;
  transform: translateX(100%);
}

.nav__menu {
  top: 0;
  left: 0;
  list-style: none;
}

.nav .social {
  position: absolute;
  bottom: 30px;
  right: 30px;
}

.social__logo {
  width: 25px;
  height: 25px;
  margin-inline: 2px;
  padding: 2px;
  border-radius: 5px;
  fill: color(emphasis-color);

  &:hover {
    background-color: color(emphasis-color);
    fill: color(background-color);
    transition: fill .5s;
  }
}

/*-----------------------Fin de los estilos del Header--------------------------------*/
/*----------------------------Estilos del Index------------------------------------*/
.recent {
  background-color: #233554;
  max-height: calc(100vh - 40px);
}

.recent__content {
  min-width: 300px;
}

.recent p {
  text-align: left;
}

@include cardContainer;

/*----------------------------Fin de estilos del Index------------------------------------*/
/*-----------------------Estilos de Formularios--------------------------------*/
.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: 30px;
  gap: 10px;
}

.form__content {
  width: 500px;
  display: grid;
  grid-template-areas: 'name''mail''services''newsletter''specs''specs''buttons';
}

@include gridArea(name);
@include gridArea(mail);
@include gridArea(services);
@include gridArea(newsletter);
@include gridArea(specs);
@include gridArea(buttons);

label {
  color: color(title-color);
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin-block: 10px;
}

input {
  background-color: transparent;
  margin: 10px auto;
  border: none;
  border-bottom: 2px solid color(emphasis-color);
  border-radius: 3px;
  outline: none;

  &:focus {
    box-shadow: 0 0 1px 2px rgba(100, 255, 218, 0.3);
  }
}

.newsletter-label {
  display: inline;
}

select {
  background-color: transparent;
  color: color(emphasis-color);
  border: none;

  &:focus {
    border: none;
  }

  &:active {
    border: none;
  }
}

option {
  background-color: color(sub-background-color);
  outline: none;
}

textarea {
  background-color: transparent;
  border: 1px solid color(emphasis-color);
  border-radius: 5px;
  color: color(text-color);
  outline: none;
  display: block;
  margin: 10px auto;

  &:focus {
    box-shadow: 0 0 1px 2px rgba(100, 255, 218, 0.3);
  }
}

input.button {
  margin-inline: 10px;
}

/*-----------------------Fin de los estilos de Formularios--------------------------------*/
/*-----------------------Estilos de Tablas--------------------------------*/
.services {
  margin: 10px auto;
}

.services__header {
  font-weight: 700;
}

.services__header--service {
  color: color(background-color);
  background-color: color(emphasis-color);
}

.services__header--category {
  color: color(emphasis-color);
  background-color: color(sub-background-color);
}

.services__item {
  padding: 10px;
  text-align: center;
}

.services__list--inside {
  list-style-position: inside;
}

.services__list {
  text-align: left;
}

/*-----------------------Fin de los estilos de Tablas--------------------------------*/
/*----------------------------Estilos del Footer------------------------------------*/

.footer {
  background-color: color(background-color);
  width: 100%;
  height: 40px;
  padding-block: 5px;
  display: flex;
  justify-content: space-between;
  z-index: 1500;
  padding-inline: 10px;

  .social__logo {
    width: 30px;
    height: 30px;
  }
}

.footer__logo {
  display: none;
  height: 100%;
}

.copyright {
  display: flex;
  align-self: center;
  margin: 10px;
}

.social {
  display: flex;
  align-self: center;
  margin-right: 10px;
  max-height: 25px;
}

/*----------------------------Fin de estilos del Footer------------------------------------*/
/*----------------------------Estilos de los Botones--------------------------------------*/
.button {
  color: color(text-color);
  background-color: transparent;
  font-weight: bold;
  border: 2px solid color(emphasis-color);
  border-radius: 3px;
  padding: 5px;
  text-transform: uppercase;
  line-height: 1;
  cursor: pointer;

  &:hover {
    background-color: color(emphasis-color);
    color: color(background-color);
  }
}

.hamburger {
  display: block;
  position: fixed;
  right: 0;
  top: 0;
  width: 30px;
  height: 30px;
  cursor: pointer;
  transition: transform 0.25s;
  border: 0;
  margin: 10px;
  background-color: color(background-color);
  z-index: 1600;
}

.nav.active {
  transform: translateX(0);
}

.hamburger::before,
.hamburger::after {
  content: ' ';
  display: block;
  transition: transform, translate 0.25s;
}

.hamburger::before,
.hamburger::after,
.line {
  position: absolute;
  width: 100%;
  height: 5px;
  background: color(emphasis-color);
}

.hamburger::before {
  top: 0;
}

.line {
  top: 50%;
  transform: translateY(-50%);
}

.hamburger::after {
  bottom: 0;
}

.hamburger.active {
  transform: rotate(180deg);
}

.active .line {
  display: none;
}

.active::before {
  top: 50%;
  transform: translateY(-50%) rotate(45deg);
}

.active::after {
  bottom: 50%;
  transform: translateY(50%) rotate(-45deg);
}

/*----------------------------Fin de estilos de los Botones--------------------------------------*/

@media screen and (min-width: 1024px) {

  html {
    font-size: (62.5%);
  }


  .cardContainer:nth-of-type(odd) {
    flex-direction: row;
  }

  .cardContainer:nth-of-type(even) {
    flex-direction: row-reverse;
  }

  .cardContainer:first-of-type {
    flex-direction: column;
  }

  .copyright {
    margin: 20px;
  }

  .form__content {
    width: 800px;
    grid-template-areas: 'name services''mail specs''newsletter specs''buttons buttons';
  }
}

@media screen and (min-width: 768px) {
  .footer__logo {
    display: inline;
  }

  .header {
    grid-template-columns: 100px 1fr;
  }

  .hamburger {
    display: none;
  }

  .nav {
    position: relative;
    flex-direction: column;
    transform: translateX(0);
    background: 0;
  }

  .nav, .nav__menu {
    display: flex;
    justify-content: flex-end;
  }

  .nav__menu {
    order: 2;
  }

  .nav .social {
    top: 0;
    right: 0;
  }
}