/*-----------------------Estilos Generales--------------------------------*/
:root {
    --background-color     : #0A192F;
    --sub-background-color : #233554;
    --title-color          : #CCD6F6;
    --text-color           : #E6F1FF;
    --emphasis-color       : #64FFDA;
    --primary-font         : 'Roboto Mono', monospace;
    --title-font           : 'Roboto', sans-serif;
}

* {
    margin     : 0;
    padding    : 0;
    box-sizing : border-box;
}

html {
    font-size : 26.5%;
}

body {
    background-color : var(--background-color);
    font-family      : var(--primary-font);
    color            : var(--text-color);
    font-weight      : 400;
}

h1, h2, h3, h4 {
    font-family : var(--title-font);
    color       : var(--title-color);
    font-weight : 700;
    text-align  : center;
    margin      : 20px 0;
}

h1 {
    font-size : 8rem;
}

h2 {
    font-size : 7rem;
}

h3 {
    font-size : 5.5rem;
}

h4 {
    font-size : 3.5rem;
}

p {
    font-size : 3.5rem;
    margin    : 20px 20px;
}

p.caption {
    text-align : center;
}

.caption {
    font-weight : 200;
    color       : var(--emphasis-color);
    font-size   : 3.5rem;
}

img {
    width : 500px;
}

.me {
    width         : 200px;
    border-radius : 50%;
}

article {
    text-align : center;
}

main img {
    display : block;
    margin  : 10px auto;
}

.wrapper {
    width    : 90%;
    margin   : 0 auto;
    padding  : 50px 0;
    position : relative;
}

/*-----------------------Fin de los estilos Generales--------------------------------*/

/*----------------------------Estilos del Header------------------------------------*/

.header {
    background-color : var(--background-color);
    width            : 90%;
    height           : 40px;
    padding-block    : 5px;
    display          : flex;
    justify-content  : space-between;
    position         : fixed;
    top              : 0;
    left: 5%;
    z-index          : 2;
}

.logoContainer {
    display    : flex;
    align-self : center;
    height     : 70%;
    width      : 100px;
}

.nav {
    display      : flex;
    align-self   : center;
    margin-right : 10px;
}

.menu {
    display    : flex;
    list-style : none;
}

.submenu {
    display                   : none;
    flex-direction            : column;
    position                  : absolute;
    top                       : 100%;
    background-color          : var(--sub-background-color);
    border-bottom-left-radius : 30px;
    list-style                : none;
}

.item {
    position : relative;
}

.item:hover > .submenu {
    display : flex;
}

.link {
    display         : inline-block;
    padding         : 0.5rem 2rem;
    text-decoration : none;
    color           : var(--emphasis-color);
    font-size       : 3.5rem;
    font-weight     : 700;
    text-transform  : uppercase;
    width           : 100%;
}

.link:hover {
    background-color : #64FFDA;
    color            : #020C1B;
}

.menu > .item > .link {
    border-right               : 1px solid #64FFDA;
    border-bottom              : 1px solid #64FFDA;
    border-bottom-right-radius : 30px;
}

.submenu > .item:nth-of-type(even) > .link {
    border-right               : 3px solid #64FFDA;
    border-bottom              : 3px solid #64FFDA;
    border-bottom-right-radius : 30px;
}

.submenu > .item:nth-of-type(odd) > .link {
    border-left               : 3px solid #64FFDA;
    border-bottom             : 3px solid #64FFDA;
    border-bottom-left-radius : 30px;
    flex-direction            : row-reverse;
}

/*-----------------------Fin de los estilos del Header--------------------------------*/
/*----------------------------Estilos del Index------------------------------------*/
main {
    position : relative;
}

.mainContent {
    width : 70%;
}

.recents {
    position         : fixed;
    top              : 40px;
    right            : 5%;
    width            : 20%;
    height           : calc(100vh - 80px);
    overflow         : auto;
    background-color : #233554;
}

.recents p:last-of-type {
    padding-bottom : 10px;
}

.container {
    padding     : 10px;
    display     : flex;
    flex        : 1;
    align-items : center;
}

.container img:not(.me) {
    width : 60%;
}

.container:nth-of-type(odd) {
    border-right               : 3px solid #64FFDA;
    border-bottom              : 3px solid #64FFDA;
    border-bottom-right-radius : 30px;
    flex-direction             : row;
}

.container:nth-of-type(even) {
    border-left               : 3px solid #64FFDA;
    border-bottom             : 3px solid #64FFDA;
    border-bottom-left-radius : 30px;
    flex-direction            : row-reverse;
}

.container:first-of-type {
    flex-direction : column;
}

/*----------------------------Fin de estilos del Index------------------------------------*/
/*-----------------------Estilos de Formularios--------------------------------*/
form {
    display        : flex;
    flex-direction : column;
    align-items    : center;
    text-align     : center;
    margin         : 30px;
    gap            : 10px;
}

.form-content {
    width : 500px;
}

label {
    font-size      : 3.5rem;
    color          : var(--title-color);
    display        : flex;
    flex-direction : column;
    gap            : 5px;
    margin-block   : 10px;
}

input {
    background-color : transparent;
    margin           : 10px auto;
    border           : none;
    border-bottom    : 2px solid var(--emphasis-color);
    border-radius    : 3px;
    outline          : none;
}

.newsletter {
    display : inline;
}

input:focus {
    box-shadow : 0 0 1px 2px rgba(100, 255, 218, 0.3);
}

select {
    background-color : transparent;
    color            : #64FFDA;
    border           : none;
}

select:focus {
    border : none;
}

select:active {
    border : none;
}

option {
    background-color : var(--sub-background-color);
    outline          : none;
}

textarea {
    background-color : transparent;
    border           : 1px solid #64FFDA;
    border-radius    : 5px;
    color            : #E6F1FF;
    outline          : none;
    display          : block;
    margin           : 10px auto;
}

textarea:focus {
    box-shadow : 0 0 1px 2px rgba(100, 255, 218, 0.3);
}

input.button {
    margin-inline : 10px;
}

/*-----------------------Fin de los estilos de Formularios--------------------------------*/
/*-----------------------Estilos de Tablas--------------------------------*/
table {
    margin    : 10px auto;
    font-size : 3.5rem;
}

th {
    font-weight : 700;
}

.tableService {
    color            : var(--background-color);
    background-color : var(--emphasis-color);
}

.tableCategory {
    color            : var(--emphasis-color);
    background-color : var(--sub-background-color);
}

td li {
    list-style-position : inside;
}

th, td {
    padding    : 10px;
    text-align : center;
}

td ul, td ol {
    text-align : left;
}

/*-----------------------Fin de los estilos de Tablas--------------------------------*/
/*----------------------------Estilos del Footer------------------------------------*/

.footer {
    background-color : var(--background-color);
    width            : 90%;
    height           : 40px;
    padding-block    : 5px;
    display          : flex;
    justify-content  : space-between;
    position         : fixed;
    bottom           : 0;
    left: 5%;
    z-index          : 2;
}

.copyright {
    display      : flex;
    align-self   : center;
    margin-right : 10px;

}

.social {
    display      : flex;
    align-self   : center;
    margin-right : 10px;
}

.socialLogo {
    width         : 30px;
    height        : 30px;
    margin-inline : 2px;
    padding       : 5px;
    border-radius : 3px;
}

.socialLogo:hover {
    background-color : var(--emphasis-color);
    fill             : var(--background-color);
}

/*----------------------------Fin de estilos del Footer------------------------------------*/
/*----------------------------Estilos de los Botones--------------------------------------*/
.button {
    color            : #E6F1FF;
    background-color : transparent;
    font-size        : 3.5rem;
    font-weight      : bold;
    border           : 2px solid #64FFDA;
    border-radius    : 3px;
    padding          : 5px;
    text-decoration  : none;
    text-transform   : uppercase;
    line-height      : 1;
    cursor           : pointer;
}

.button:hover {
    background-color : #64FFDA;
    color            : #0A192F;
}

/*Boton primario pendiente de encontrar un diseño atractivo*/

/*.primaryButton {*/
/*    color            : var(--background-color);*/
/*    background-color : var(--emphasis-color);*/
/*}*/

/*.primaryButton:hover {*/
/*    color            : #E6F1FF;*/
/*    background-color : var(--background-color);*/
/*}*/

/*----------------------------Fin de estilos de los Botones--------------------------------------*/