/*-----------------------Estilos Generales--------------------------------*/
:root {
    --background-color     : #0A192F;
    --sub-background-color : #233554;
    --title-color          : #CCD6F6;
    --text-color           : #E6F1FF;
    --emphasis-color       : #64FFDA;
    --primary-font         : 'Roboto Mono', monospace;
    --title-font           : 'Roboto', sans-serif;
    --heading-1            : 7rem;
    --heading-2            : 6rem;
    --heading-3            : 4.5rem;
    --text                 : 2.5rem;
}

*, :after, :before{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size : 26.5%;
}

body {
    background-color : var(--background-color);
    font-family      : var(--primary-font);
    color            : var(--text-color);
    font-weight      : 400;
    font-size        : var(--text);
}

h1, h2, h3, h4 {
    font-family : var(--title-font);
    color       : var(--title-color);
    font-weight : 700;
    text-align  : center;
    margin      : 20px 0;
}

h1 {
    font-size : var(--heading-1);
}

h2 {
    font-size : var(--heading-2);
}

h3 {
    font-size : var(--heading-3);
}

p {
    margin : 20px 20px;
}

p.caption {
    text-align : center;
}

.caption {
    font-weight : 200;
    color       : var(--emphasis-color);
}

img {
    width : 500px;
}

.me {
    width         : 200px;
    border-radius : 50%;
}

article {
    text-align : center;
}

main img {
    display : block;
    margin  : 10px auto;
}

.wrapper {
    width                 : 100%;
    margin                : 0 auto;
    padding-top           : 40px;
    position              : relative;
    display               : grid;
    grid-template-columns : 100%;
    grid-template-rows    : auto 40px;
}

/*-----------------------Fin de los estilos Generales--------------------------------*/

/*----------------------------Estilos del Header------------------------------------*/
a{
    text-decoration: none;
}

div{
    display: block;
}

.header .wrapper{
    display: grid;
    padding: 10px;
}

.link {
    display         : inline;
    padding         : 0.5rem 2rem;
    color           : var(--emphasis-color);
    font-weight     : 700;
    text-transform  : uppercase;
    width           : 100%;
}

.link:hover {
    font-size: 4rem;
}

.nav ul{
    list-style: none;
}

.logo{
    width: 200px;
}

.nav{
    display: flex;
    justify-content: flex-start;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 5;
    background: var(--sub-background-color);
    transition: transform 1s;
    transform: translateX(100%);
}

.nav .menu{
    top: 0;
    left: 0;
}

.nav .menu a{
    display: block;
    font-weight: 700;
    color: var(--emphasis-color);
    letter-spacing: .2em;
    padding: 15px;
}

.nav .social{
    position: absolute;
    bottom: 30px;
    right: 30px;
}

.nav .social svg{
    width: 30px;
    height: 30px;
    fill: var(--emphasis-color);
}
/*-----------------------Fin de los estilos del Header--------------------------------*/
/*----------------------------Estilos del Index------------------------------------*/
main {
    position    : relative;
    grid-column : 1;
    grid-row    : 1;
}

.mainContent {
    max-width : 70%;
    min-width : 400px;
    margin    : 0 auto;
}

.recent {
    background-color : #233554;
    grid-column      : 1;
    grid-row         : 1;
}

.recent-container {
    display               : grid;
    overflow              : auto;
    grid-template-columns : repeat(3, 1fr);
    grid-auto-flow        : column;
}

.recent-content {
    max-width : 30vw;
    min-width : 300px;
}

.recent p {
    text-align : left;
}

.recent p:last-of-type {
    margin-block   : 0;
    padding-bottom : 10px;
}

.container {
    /*margin-inline: 5px;*/
    padding     : 5px;
    display     : flex;
    /*flex        : 1;*/
    align-items : center;
}

.container img:not(.me) {
    width : 60%;
}

.container:nth-of-type(odd) {
    border-right               : 3px solid #64FFDA;
    border-bottom              : 3px solid #64FFDA;
    border-bottom-right-radius : 30px;
    flex-direction             : column;
}

.container:nth-of-type(even) {
    border-left               : 3px solid #64FFDA;
    border-bottom             : 3px solid #64FFDA;
    border-bottom-left-radius : 30px;
    flex-direction            : column;
}

.container:first-of-type {
    flex-direction : column;
}

/*----------------------------Fin de estilos del Index------------------------------------*/
/*-----------------------Estilos de Formularios--------------------------------*/
form {
    display        : flex;
    flex-direction : column;
    align-items    : center;
    text-align     : center;
    margin         : 30px;
    gap            : 10px;
}

.form-content {
    width               : 500px;
    display             : grid;
    grid-template-areas : 'name''mail''services''newsletter''specs''specs''buttons';
}

.name {
    grid-area : name;
}

.mail {
    grid-area : mail;
}

.services {
    grid-area : services;
}

.newsletter {
    grid-area : newsletter;
}

.specs {
    grid-area : specs;
}

.buttons {
    grid-area : buttons;
}

label {
    color          : var(--title-color);
    display        : flex;
    flex-direction : column;
    gap            : 5px;
    margin-block   : 10px;
}

input {
    background-color : transparent;
    margin           : 10px auto;
    border           : none;
    border-bottom    : 2px solid var(--emphasis-color);
    border-radius    : 3px;
    outline          : none;
}

.newsletter-label {
    display : inline;
}

input:focus {
    box-shadow : 0 0 1px 2px rgba(100, 255, 218, 0.3);
}

select {
    background-color : transparent;
    color            : #64FFDA;
    border           : none;
}

select:focus {
    border : none;
}

select:active {
    border : none;
}

option {
    background-color : var(--sub-background-color);
    outline          : none;
}

textarea {
    background-color : transparent;
    border           : 1px solid #64FFDA;
    border-radius    : 5px;
    color            : #E6F1FF;
    outline          : none;
    display          : block;
    margin           : 10px auto;
}

textarea:focus {
    box-shadow : 0 0 1px 2px rgba(100, 255, 218, 0.3);
}

input.button {
    margin-inline : 10px;
}

/*-----------------------Fin de los estilos de Formularios--------------------------------*/
/*-----------------------Estilos de Tablas--------------------------------*/
table {
    margin : 10px auto;
}

th {
    font-weight : 700;
}

.tableService {
    color            : var(--background-color);
    background-color : var(--emphasis-color);
}

.tableCategory {
    color            : var(--emphasis-color);
    background-color : var(--sub-background-color);
}

td li {
    list-style-position : inside;
}

th, td {
    padding    : 10px;
    text-align : center;
}

td ul, td ol {
    text-align : left;
}

/*-----------------------Fin de los estilos de Tablas--------------------------------*/
/*----------------------------Estilos del Footer------------------------------------*/

.footer {
    background-color : var(--background-color);
    width            : 100%;
    height           : 40px;
    padding-block    : 5px;
    display          : flex;
    justify-content  : space-between;
    position         : fixed;
    bottom           : 0;
    z-index          : 2;
    padding-inline   : 10px;
}

.footer .logo{
    display: none;
    height: 100%;
}

.copyright {
    display    : flex;
    align-self : center;
    margin     : 10px;
}

.social {
    display      : flex;
    align-self   : center;
    margin-right : 10px;
}

.socialLogo {
    width         : 30px;
    height        : 30px;
    margin-inline : 2px;
    padding       : 5px;
    border-radius : 3px;
}

.socialLogo:hover {
    background-color : var(--emphasis-color);
    fill             : var(--background-color);
}

/*----------------------------Fin de estilos del Footer------------------------------------*/
/*----------------------------Estilos de los Botones--------------------------------------*/
.button {
    color            : #E6F1FF;
    background-color : transparent;
    font-weight      : bold;
    border           : 2px solid #64FFDA;
    border-radius    : 3px;
    padding          : 5px;
    text-decoration  : none;
    text-transform   : uppercase;
    line-height      : 1;
    cursor           : pointer;
}

.button:hover {
    background-color : #64FFDA;
    color            : #0A192F;
}

/*Botón primario pendiente de encontrar un diseño atractivo*/

/*.primaryButton {*/
/*    color            : var(--background-color);*/
/*    background-color : var(--emphasis-color);*/
/*}*/

/*.primaryButton:hover {*/
/*    color            : #E6F1FF;*/
/*    background-color : var(--background-color);*/
/*}*/
.hamburger {
    display: block;
    position: fixed;
    right: 0;
    top: 0;
    width: 40px;
    height: 40px;
    cursor     : pointer;
    transition : transform 0.25s;
    z-index: 5;
    border: 0;
    margin: 10px;
}

.nav.active{
    transform: translateX(0);
}

.hamburger::before, .hamburger::after {
    content    : ' ';
    display    : block;
    transition : transform, translate 0.25s;
}

.hamburger::before, .hamburger::after, .line {
    position   : absolute;
    width      : 100%;
    height     : 5px;
    background : var(--emphasis-color);
}

.hamburger::before {
    top : 0;
}

.line {
    top       : 50%;
    transform : translateY(-50%);
}

.hamburger::after {
    bottom : 0;
}

.hamburger.active {
    transform : rotate(180deg);
}

.active .line {
    display : none;
}

.active::before {
    top       : 50%;
    transform : translateY(-50%) rotate(45deg);
}

.active::after {
    bottom    : 50%;
    transform : translateY(50%) rotate(-45deg);
}
/*----------------------------Fin de estilos de los Botones--------------------------------------*/

@media screen and (min-width : 1024px) {
    :root {
        --heading-1 : 8rem;
        --heading-2 : 7rem;
        --heading-3 : 5.5rem;
        --text      : 3.5rem;
    }

    .recent {
        position  : fixed;
        top       : 100px;
        right     : 0;
        max-width : 25%;
        min-width : 320px;
        height    : calc(100vh - 80px);
        overflow  : auto;
    }

    .recent-container {
        display : block;
    }

    .recent p {
        padding-inline : 10px;
    }

    .container:nth-of-type(odd) {
        flex-direction : row;
    }

    .container:nth-of-type(even) {
        flex-direction : row-reverse;
    }

    .container:first-of-type {
        flex-direction : column;
    }

    .mainContent {
        max-width  : 65%;
        min-width: 40%;
    }

    .copyright {
        margin : 20px;
    }

    .form-content {
        width               : 800px;
        grid-template-areas : 'name services''mail specs' 'newsletter specs''buttons buttons';
    }
}

@media screen and (min-width: 768px){
    .mainContent{
        margin : 20px;
    }
    .footer .logo{
        display: inline;
    }

    .header .wrapper{
        grid-template-columns: 100px 1fr;
    }

    .hamburger{
        display: none;
    }

    .nav{
        position: relative;
        flex-direction: column;
        transform: translateX(0);
        background: 0 0;
        padding: 0;
    }

    .nav, .nav .menu{
        display: flex;
        justify-content: flex-end;
    }

    .nav .menu{
        order: 2;
    }

    .nav .social{
        position: absolute;
        top: 0;
        bottom: auto;
        right: 0;
    }

    .nav .social svg{
        width: 25px;
        height: 25px;
    }

    .nav .social svg:hover{
        border-radius: 5px;
        padding: 2px;
        background-color: var(--emphasis-color);
        fill: var(--background-color);
        transition: fill .5s;
    }
}